{% extends "base.html" %}
{% block body %}
<form action="#" method="post">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ crondefinition.name | default("") }}" required>
	</div>
	<div class="form-group">
		<label for="url">Url</label>
		<input type="url" class="form-control" id="url" name="url" placeholder="Url" value="{{ crondefinition.url | default("") }}" required>
	</div>
	<div class="form-group">
		<label for="period">Period</label>
		<div class="input-group">
			<input type="number" class="form-control" id="period" name="period" value="{{ crondefinition.period | default("1") }}">
			<div class="input-group-addon">Minutes</div>
		</div>
	</div>
	<div class="form-group">
		<label for="ttl">Ttl</label>
		<div class="input-group">
			<input type="number" class="form-control" id="ttl" name="ttl" value="{{ crondefinition.ttl | default("10") }}">
			<div class="input-group-addon">Minutes</div>
		</div>
	</div>
	<button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}
